#icon-edit.icon32-posts-rw_content_type {
	background: url(../../icons/big-icons.png);
}
#fields-meta .inside {
	padding: 0 5px;
}
#field-builder .fields {
}
#field-builder .field,
#field-builder .field-placeholder {
	min-width: 470px;
	min-height: 112px;
	padding: 0 0 0 10px;
	margin: 0 5px 5px 5px;
	border: solid 1px #ccc;
	cursor: move;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: #eee;
}
#field-builder .field-placeholder {
	background: #fff;
	border: dashed 2px #ccc;
	min-height: 111px;
}
#field-builder .field:hover {
	border-color: #aaa;
	padding: 0 0 0 10px;
	background: #ccc url(field_drag.png);
}
#field-builder table {
	width: 100%;
	background: #f8f8f8;
	border-collapse: collapse;
}
#field-builder div.add-field {
	padding: 5px 5px 10px 5px;
}
#field-builder div.add-field a {
	width: 100%;
	padding: 3px 0;
	display: inline-block;
	text-align: center;
}
#field-builder div.add-field a:hover {
	opacity: 1;
}
#field-builder input.name {
	min-width: 150px;
	width: 100%;
}
#field-builder input.description {
	xmin-width: 250px;
	width: 100%;
}
#field-builder textarea {
	min-height: 60px;
	xmin-width: 250px;
	width: 100%;
	font-size: 11px;
}
#field-builder table tr td {
	padding: 5px;
	font-size: 11px;
	vertical-align: top;
}
#field-builder table tr.entry-row td {
	padding: 10px;
}
#field-builder table tr.advanced td,
#field-builder table tr.type-options td {
	border-top: #ccc solid 1px;
}
#field-builder table tr.options2 td {
	padding-top: 0;
}
#field-builder table tr.advanced {
	display: none;
}
#field-builder table tr td label {
	display: block;
	float: left;
	clear: both;
	width: 100%;
	padding: 0 0 5px 0;
}
#field-builder table tr td>label {
	font-weight: bold;
}
#field-builder table tr td.actions a {
	font-size: 15px;
	text-decoration: none;
}
#field-builder table tr td.actions a.delete {
	display: block;
	font-size: 12px;
	color: red;
}
#field-builder table tr td.actions a.delete span {
	display: block;
	float: left;
	clear: none;
	line-height: 12px;
}
#field-builder table tr td.actions a.delete .times {
	font-weight: bold;
	font-size: 24px;
	line-height: 10px;
	padding-right: 5px;
}